
# secrets
groq_token.txt
openai_token.txt
gemini_token.txt

# data folders
deprecated_apis/*
available_apis/*
platform_repos/*
program_bank/*
data/*

# logs
log.txt
*.log

.vscode/*

**.pyc


# cache
.cache

# temporary firectory
.tmp/*

reports/v008/*
reports/v009/*

experiments/*
notebooks/checkpoints/*