qiskit==1.2.1
qiskit-aer==0.15.1
qiskit-ibm-runtime==0.29.1
pytket==1.32.0
pytket-qiskit==0.56.0
PennyLane==0.40.0
PennyLane-qiskit==0.40.0
mqt.qcec==2.8.1
bqskit==1.2.0
pyzx==0.8.0
slipcover==1.0.15
pytest==8.3.3
click
numpy
scipy
matplotlib
pandas
seaborn
inquirer
tqdm
networkx
PyYAML
