qr = QuantumRegister({{N_QUBITS}}, name='qr')
cr = ClassicalRegister({{N_QUBITS}}, name='cr')
qc = QuantumCircuit(qr, cr, name='qc')
# TIMESTAMP: {{TIMESTAMP}}

# Apply gate operations
# <START_GATES>
{{GATE_OPS}}
# <END_GATES>
