Given the following API from the {{PLATFORM_NAME}} quantum computing library with the following docstring:

## DOCSTRING API TO USE ##
{{API_INFO}}.

Please generate a program that has at least one valid quantum circuit and a use of the given API.
Explain what you want to generated first, then encolse the final snippet in the tags: ```python and ```.
You can use at max 20 lines of code (including comments).
